{% extends 'starter-page.html' %}
{% load static %}
{% block body %}


     <!-- Interests Section -->
    <section id="interests" class="interests section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <div><span>I'm</span> <span class="description-title">interested in</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="features-item">
              <i class="bi bi-laptop" style="color: #1a60a6; "></i>
              <h3><a href="" class="stretched-link">Web Development</a></h3>

            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="features-item">
              <i class="bi bi-arrow-right-circle" style="color: #5578ff;"></i>
              <h3><a href="" class="stretched-link">UX/UI Design</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="features-item">
              <i class="bi bi-file-earmark-code " style="color: #e80368;"></i>
              <h3><a href="" class="stretched-link">Full-stack Development</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
            <div class="features-item">
              <i class="bi bi-lightbulb" style="color: #e361ff;"></i>
              <h3><a href="" class="stretched-link">Graphic Design</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="features-item">
              <i class="bi bi-link" style="color: #47aeff;"></i>
              <h3><a href="" class="stretched-link">Learning New Tech</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
            <div class="features-item">
              <i class="bi bi-camera" style="color: #ffa76e;"></i>
              <h3><a href="" class="stretched-link">Photography</a></h3>
            </div>
          </div><!-- End Feature Item -->



          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
            <div class="features-item">
              <i class="bi bi-map" style="color: #4233ff;"></i>
              <h3><a href="" class="stretched-link">Travelling</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="900">
            <div class="features-item">
              <i class="bi bi-gear" style="color: #b2904f;"></i>
              <h3><a href="" class="stretched-link">Problem solving</a></h3>
            </div>
          </div><!-- End Feature Item -->




        </div>

      </div>

    </section><!-- /Interests Section -->


{% endblock %}